# CORS 설정
CORS_ALLOWED_ORIGINS=
CORS_ALLOWED_METHODS=
CORS_ALLOWED_HEADERS=

# 데이터 베이스
DATABASE_URL=
DATABASE_USERNAME=
DATABASE_PASSWORD=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# JPA 설정
JPA_DDL=
JPA_SHOW_SQL=
JPA_FORMAT_SQL=
JPA_OPEN_IN_VIEW=

# JWT 설정
JWT_ACCESS_SECRET=
JWT_ACCESS_TTL=
JWT_REFRESH_SECRET=
JWT_REFRESH_TTL=

# KAKAO 설정
KAKAO_REST_API_KEY=
KAKAO_CLIENT_SECRET=
KAKAO_REDIRECT_URI=
